:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  gap: 24px;
}
.card {
  height: max-content;
  grid-column-start: 1;
  grid-row-start: 3;
}
.card_1 {
  height: max-content;
  grid-column-start: 2;
  grid-row-start: 3;
}
.card_2 {
  height: max-content;
  grid-column-start: 1;
  grid-row-start: 2;
}
.card_3 {
  height: max-content;
  grid-column-start: 2;
  grid-row-start: 2;
}
.row-layout {
  display: flex;
}
.group {
  background-color: hsla(var(--ig-primary-500));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 1px;
  min-width: 50px;
  min-height: 1px;
  max-height: 1px;
}
.media-content {
  min-height: 180px;
  max-height: 180px;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.icon-button {
  --ig-size: var(--ig-size-small);
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.avatar {
  --igx-avatar-background: transparent;
}
.text {
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
