<div class="group">
  <h2 class="h2">
    Design Principles
  </h2>
  <div class="column-layout group_1">
    <h5 class="h5">
      The fundamental UX design principles include visual and information architecture, simplicity and usability, user-centricity, typography, accessibility, consistency, context, user control, and user testing.
    </h5>
    <button igxButton="contained" igxRipple class="button">
      BROWSE PRINCIPLES
    </button>
  </div>
</div>
<div class="group_2">
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/LessMore.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Less is More
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        The phrase is a reflection of the theory of Minimalism and it’s becoming the new method of making simple, elegant and functional designs. The main principle is to provide only the essential part of the feature to the user.

      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button_1">
          Learn More
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/NotUser.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        You are not the User
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        The false-consensus effect refers to people’s tendency to assume that others share their beliefs and will behave similarly in a given context. Only people who are very different from them would make different choices.
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button_1">
          Learn More
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/Simple.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Keep it Simple
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        KISS (Keep it simple, stupid!) is a design principle that favours simplicity. In UX and product design, this means focusing on just one user problem at a time and designing solutions that are easy to understand, use, and navigate.
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button_1">
          Learn More
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
